.App {
  text-align: center;
  font-size: 1.75rem;
  font-family: GothicUltraOt, sans-serif!important;
}

@font-face {
	font-family: "GothicUltraOt";
	src: url("/gothic_ultra_ot-webfont.woff") format("woff"),
    url("/gothic_ultra_ot-webfont.ttf") format("truetype"),
    url("/gothic_ultra_ot-webfont.eof");
    
}